{% extends 'base.html.twig' %}


{% block body %}

        <div class="container">

                <h4><b> {{ post.title }} </b></h4>
                <p>{{ post.content}}</p>
                {{ post.author }}
                {{ post.createdAt | date }}
                <A HREF="javascript:history.go(-1)"> [Go Back]</A>

        <hr/>

        <h4>Comment:</h4>
                {# % form_theme form 'bootstrap_3_layout.html.twig' % #}
                {{ form_start(form) }}

        {% if app.user %}

                {{ form_widget(form) }}
                </br><button class="btn btn-primary pull-left">Add</button></br>
                {{ form_end(form) }}

        {% else %}

                <p>Komentarze mogą dodawać tylko zalogowani użytkownicy</p>

        {% endif %}

        {% for comment in post.comment %}

                </br>
                <h5> {{ comment.commentContent }} </h5>
                <span class="">Added: {{ post.createdAt|date('H:i d/m/Y') }} {% if comment.user %} by: <b>{{ comment.user }}</b> {% endif %} </span>
                </br>

        {% endfor %}

        </div>

{% endblock %}