{% block body %}

    {% for post in posts %}

        <h1><a href="{{ path('post_show', {'id' : post.id}) }} ">{{ post.title }}</a></h1>
        <p> {{ post.preContent }}</p>
        <p><b>{{ post.content}}</b></p>
        <div id="authorPost">
            {{ post.author }} at {{ post.createdAt | date }}
        </div>

    {% endfor %}

    <div class="paginator">

        {{ knp_pagination_render(posts) }}

    </div>

{% endblock %}