body
{

    background-color: #ccdef9;

}
h1
{

    font-size: 27px;

}

.authorPost
{

    text-align: right;

}
.content
{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 12px;
    width: 100%;
    height: auto;
    background-color: #ccdef9;
}

.navigation
{
    display: inline-block;
    position: fixed;
    opacity: 1;
    width: 100%;
    height: 50px;
    background-color: white;
    color: red;
}
.navbar-nav li
{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.paginator
{
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    align-content: center;
    justify-content: center;

}

.jumbotron
{

    background-color: #9db5db;
    z-index: -1;
    height: 300px;

}

footer {
    background-color: #9db5db;
    color: white;
    padding: 25px;
    height: auto;
}

.loginStatus
{
    position: absolute;
    right: 1%;
    top: 15px;
}